---
import Layout from '../layouts/Layout.astro'
import graphqlFetch from '../graphql-fetch'

const response = await graphqlFetch('home', 'Home')
const cmsData = (await response.json()).data

const firstCharacter = cmsData.UserInfo.firstName.charAt(0)
---

<Layout title='Tommy May III'>
  <main>
    <div class='flex items-center'>
			<span class='uppercase bg-primary text-white w-6 h-6 rounded-full flex items-center justify-center'>
				{firstCharacter}
			</span>
      <h1 class='text-white capitalize ml-2'>{cmsData.UserInfo.firstName}&nbsp;{cmsData.UserInfo.lastName}</h1>
    </div>
  </main>
</Layout>

<style>
</style>
