---
import Layout from '../layouts/Layout.astro'
import graphqlFetch from '../graphql-fetch'
import Headshot from '../components/Headshot.astro'

const response = await graphqlFetch('home', 'Home')
const cmsData = (await response.json()).data
const headshotUrl = cmsData.Headshots.docs[0].sizes.mobile.url
const headshotAlt = cmsData.Headshots.docs[0].alt
---

<Layout title='Tommy May III' firstName={cmsData.UserInfo.firstName} lastName={cmsData.UserInfo.lastName}>
  <main>
    <Headshot url={`http://localhost:3000${headshotUrl}`} alt={headshotAlt} />
    <h1>hello world</h1>
  </main>
</Layout>

<style>
  .headshot {
    filter: grayscale(100%);
  }
</style>

