---
interface Props {
  url
  alt
  className
}
const { url, alt, class: className } = Astro.props
---

<itmayziii-headshot>
  <button class={className} type='button' data-js-headshot-btn>
    <img
      class='headshot rounded-full h-64 w-64 border-primary border-8 grayscale'
      src={url}
      alt={alt}
      data-js-headshot-img
    />
  </button>
</itmayziii-headshot>

<script src='./headshot.ts'></script>
