---
import Icon from './Icon.astro'

interface Props {
  class: string
  socials: {
    icon: string
    link: string
    label: string
  }[]
}
const { class: className, socials } = Astro.props<Props>
---

<footer class:list={[
  'pb-4 px-6 pt-8 bg-background max-w-screen-xl',
  'lg:mt-0 lg:rounded-b-3xl lg:mx-auto',
  className
]}>
  <ul class='flex justify-center'>
    {socials.map((social, i) => (
      <li class:list={{ 'ml-8': i !== 0 }}>
        <a href={social.link} aria-label={social.label}>
          <Icon name={social.icon} class='w-10 h-10' />
        </a>
      </li>
    ))}
  </ul>
</footer>
