---
interface Props {
}
---

<div class='icon' data-js-hamburger-menu>
  <span class='bg-white'></span>
  <span class='bg-white'></span>
  <span class='bg-white'></span>
  <span class='bg-white'></span>
  <span class='bg-white'></span>
  <span class='bg-white'></span>
</div>

<style>
  .icon {
    width: 60px;
    height: 45px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  .icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 50%;
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }

  .icon span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }

  .icon span:nth-child(odd) {
    left: 0;
    border-radius: 9px 0 0 9px;
  }

  .icon span:nth-child(1), .icon span:nth-child(2) {
    top: 0;
  }

  .icon span:nth-child(3), .icon span:nth-child(4) {
    top: 18px;
  }

  .icon span:nth-child(5), .icon span:nth-child(6) {
    top: 36px;
  }

  .icon.open span:nth-child(1),.icon.open span:nth-child(6) {
    transform: rotate(45deg);
  }

  .icon.open span:nth-child(2),.icon.open span:nth-child(5) {
    transform: rotate(-45deg);
  }

  .icon.open span:nth-child(1) {
    left: 5px;
    top: 7px;
  }

  .icon.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
  }

  .icon.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  .icon.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  .icon.open span:nth-child(5) {
    left: 5px;
    top: 29px;
  }

  .icon.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
  }
</style>
