---
interface Props {
}

const barClass = 'bg-white p-0 w-6 h-1 block absolute rounded'
---

<input type='checkbox' id='hamburger-menu' class='input hidden'>
<label for='hamburger-menu' class='cursor-pointer'>
  <span class='hamburger block h-6 w-6 relative'>
    <span class:list={['bar bar1 top-0', barClass]}></span>
    <span class:list={['bar bar2 top-2.5', barClass]}></span>
    <span class:list={['bar bar3 right-0 top-2.5', barClass]}></span>
    <span class:list={['bar bar4 bottom-0', barClass]}></span>
  </span>
</label>

<style>
  .bar {
    transition: all 0.4s ease-in-out;
  }

  .bar1 {
    transform-origin: 5%;
  }

  .bar4 {
    transform-origin: 5%;
  }

  .input:checked + label > .hamburger > .bar1 {
    transform: rotate(45deg);
    height: 3px;
    width: 34px;
  }

  .input:checked + label > .hamburger > .bar3 {
    transform: rotate(45deg);
    height: 3px;
    background-color: transparent;
  }

  .input:checked + label > .hamburger > .bar2 {
    transform: rotate(-45deg);
    height: 3px;
    background-color: transparent;
  }

  .input:checked + label > .hamburger > .bar4 {
    transform: rotate(-45deg);
    height: 3px;
    width: 34px;
  }
</style>
