---
import NameBadge from './NameBadge.astro'
import Nav from './Nav.astro'
import { absoluteUrl } from '../browser-utilities'

interface Props {
  fullName: string
  class: string
  navLinks: {
    label: string
    link: string
  }[]
}
const { fullName, class: className, navLinks } = Astro.props<Props>;
---

<header class:list={[
  'sticky top-0 bg-background flex justify-between py-2 px-4 z-50 max-w-screen-xl flex justify-center items-center',
  'lg:static lg:rounded-t-3xl lg:mx-auto lg:pt-10 lg:px-16',
  className
]}>
  <a href={absoluteUrl('/', Astro.site)}><NameBadge fullName={fullName} /></a>
  <Nav links={navLinks} />
</header>
