---
interface Props {
  url
  alt
  className
}
const { url, alt, class: className } = Astro.props
---

<button class={className} type='button' data-js-headshot-btn>
  <img
    class='headshot rounded-full h-64 w-64 border-primary border-8 grayscale'
    src={url}
    alt={alt}
    data-js-headshot-img
  />
</button>

<script>
  const headshotBtnEl = document.querySelector('[data-js-headshot-btn]')
  const headshotImgEl = document.querySelector('[data-js-headshot-img]')

  let color = false
  headshotBtnEl.addEventListener('click', (event) => {
    color = !color

    headshotImgEl.style.filter = `grayscale(${color ? 0 : 1})`
  })
</script>
