---
interface Props {
  fullName: string
}
const {fullName} = Astro.props<Props>

const firstCharacter = fullName.charAt(0)
---

<div class='flex items-center text-xl'>
  <span class='uppercase bg-primary text-white w-8 h-8 rounded-full flex items-center justify-center font-bold'>
    {firstCharacter}
  </span>
  <div class='text-white capitalize ml-2'>{fullName}</div>
</div>
