---
interface Props {
  links: {
    label
    link
  }[]
}

const { links } = Astro.props<Props>
const barClass = 'bg-white p-0 w-6 h-1 block absolute rounded'
---

<nav class='text-white'>
  <input type='checkbox' id='hamburger-menu' class='hamburger-input hidden'>
  <label for='hamburger-menu' class='hamburger-icon cursor-pointer lg:hidden'>
  <span class='hamburger block h-6 w-6 relative'>
    <span class:list={['hamburger-bar hamburger-bar1 top-0', barClass]}></span>
    <span class:list={['hamburger-bar hamburger-bar2 top-2.5', barClass]}></span>
    <span class:list={['hamburger-bar hamburger-bar3 right-0 top-2.5', barClass]}></span>
    <span class:list={['hamburger-bar hamburger-bar4 bottom-0', barClass]}></span>
  </span>
  </label>
  <ul class:list={[
    'nav-list w-full max-w-xs fixed right-0 h-full bg-background overflow-hidden px-6 py-4',
    'z-40 transition-transform translate-x-full capitalize',
    'lg:static lg:h-auto lg:max-w-none lg:translate-x-0 lg:transition-none lg:p-0'
  ]}>
    {links.map(link => (
      <li class:list={[
        'mt-4 decoration-secondary decoration-2 underline-offset-4',
        'lg:inline-block lg:mt-0 lg:ml-2',
        {
          'text-white underline': Astro.url.pathname === link.link,
          'text-gray-300': Astro.url.pathname !== link.link
        }]}>
        <a class='p-2' href={link.link}>{link.label}</a>
      </li>
    ))}
  </ul>
</nav>

<style>
  .nav-list {
    top: 48px;
  }

  .hamburger-input:checked ~ .nav-list {
    transform: translate(0);
  }

  .hamburger-bar {
    transition: all 0.2s ease-in-out;
  }

  .hamburger-bar1 {
    transform-origin: 5%;
  }

  .hamburger-bar4 {
    transform-origin: 5%;
  }

  .hamburger-input:checked + .hamburger-icon .hamburger-bar1 {
    transform: rotate(45deg);
    height: 3px;
    width: 34px;
  }

  .hamburger-input:checked + .hamburger-icon .hamburger-bar2 {
    transform: rotate(-45deg);
    height: 3px;
    background-color: transparent;
  }

  .hamburger-input:checked + .hamburger-icon .hamburger-bar3 {
    transform: rotate(45deg);
    height: 3px;
    background-color: transparent;
  }

  .hamburger-input:checked + .hamburger-icon .hamburger-bar4 {
    transform: rotate(-45deg);
    height: 3px;
    width: 34px;
  }
</style>
