---
import Icon from './Icon.astro'
interface Props {
  section: {
    icon: string
    title: string
    description: string
  }
  class: string
}
const { section, class: className } = Astro.props<Props>
---

<section class:list={[className, 'flex justify-between']}>
  <Icon class='text-primary w-8 h-8' name={section.icon} />
  <div class='w-full ml-4'>
    <h3 class='text-xl'>{section.title}</h3>
    <p class='hyphens-auto break-words mt-2'>{section.description}</p>
  </div>
</section>
