---
import { absoluteUrl } from '../../utilities'
interface Props {
  email: string
}
const { email } = Astro.props<Props>
const contactFormId = 'contact-form'
---

<form id={contactFormId} class='mt-8 text-white' method='POST'
  action={absoluteUrl('/contact/', Astro.site)} data-js-contact-form>
  <noscript>
    <strong class='text-white break-words italic'>I try my best to deliver a progressive website that supports
      users who have JavaScript disabled, it is not always possible. This contact form relies on
      <a class='text-link' href='https://www.google.com/recaptcha/about/'>google reCAPTCHA</a>
      to keep it secure and reCAPTCHA relies on JavaScript to run. If you are unable to enable JavaScript then I
      suggest you email me directly at <a class='text-link' href={`mailto:${email}`}>{email}</a>
    </strong>
  </noscript>
  <div class='mt-8 flex flex-wrap md:flex-row justify-between'>
    <div class='basis-full md:basis-4/12'>
      <label class='w-full mt-2 block text-gray-300'>
        Name
        <input class='w-full border-2 border-gray-400 text-gray-300 rounded bg-transparent p-2' name='name' type='text'
          required maxlength='100'/>
      </label>
      <label class='w-full mt-2 block text-gray-300'>
        Email
        <input class='w-full border-2 border-gray-400 text-gray-300 rounded bg-transparent p-2' name='email'
          type='email' required maxlength='200'/>
      </label>
      <label class='w-full mt-2 block text-gray-300'>
        Subject
        <input class='w-full border-2 border-gray-400 text-gray-300 rounded bg-transparent p-2' name='subject'
          type='text' required maxlength='200'/>
      </label>
    </div>
    <label class='basis-full text-gray-300 mt-4 md:pl-8 md:basis-8/12 md:mt-0'>
      Message
      <textarea class='w-full border-2 border-gray-400 text-gray-300 rounded bg-transparent p-2 h-20 md:h-32'
        name='message' required maxlength='2000'></textarea>
    </label>
  </div>
  <div class='flex flex-col justify-center items-center mt-6 sm:flex-row sm:justify-between'>
    <div>
      <div
        class='g-recaptcha'
        data-sitekey={import.meta.env.PUBLIC_GOOGLE_RECAPTCHA_SITE_KEY}
        data-action='contact'
        data-theme='dark'
        data-callback='itmayziiiContactFormRecapatchaCb'
        data-expired-callback='itmayziiiContactFormRecapatchaExpiredCb'
      ></div>
    </div>
    <button class:list={[
      'rounded-full px-6 py-2 shadow-lg bg-secondary mt-6 hover:bg-secondary-dark'
    ]} type='submit'>Send Message
    </button>
  </div>
</form>

<script src='./contact-form.ts'></script>
