---
interface Props {
	title: string
	fullName: string
}
const { title, fullName } = Astro.props<Props>;

import '../styles/index.css'
import Header from '../components/Header.astro'
import Head from '../components/Head.astro'
---

<!DOCTYPE html>
<html lang='en'>
	<Head title={title} />
	<body class='bg-background font-roboto'>
		<Header fullName={fullName} />
		<slot />
	</body>
</html>
<style>
</style>
