---
import '../styles/index.css'
import Header from '../components/Header.astro'
import Head from '../components/Head.astro'
import Footer from '../components/Footer.astro'

interface Props {
  title: string
  fullName: string
  socials: {
    icon: string
    link: string
    label: string
  }[]
  navLinks: {
    label: string
    link: string
  }[]
}
const { title, fullName, socials, navLinks } = Astro.props<Props>
---

<!DOCTYPE html>
<html lang='en' class='bg-background lg:bg-primary min-h-full w-full'>
  <Head title={title}/>
  <body class='bg-background lg:bg-primary font-roboto md:bg-white h-full m-0 w-full overflow-x-hidden overscroll-none'>
    <div class='lg:p-12'>
      <Header fullName={fullName} navLinks={navLinks} />
      <main>
        <div class='bg-background px-6 max-w-screen-xl lg:mx-auto lg:px-16'>
          <slot />
        </div>
      </main>
      <Footer socials={socials}/>
    </div>
  </body>
</html>

<style>
  body {
    background-repeat: repeat;
  }
</style>
