---
import '../styles/index.css'
import Header from '../components/Header.astro'
import Head from '../components/Head.astro'
import Footer from '../components/Footer.astro'

interface Props {
  title: string
  fullName: string
  socials: {
    icon: string
    link: string
  }[]
}
const { title, fullName, socials } = Astro.props<Props>
---

<!DOCTYPE html>
<html lang='en'>
  <Head title={title}/>
  <body class='bg-background font-roboto'>
    <Header fullName={fullName}/>
    <slot/>
    <Footer class='mt-8' socials={socials} />
  </body>
</html>
<style>
</style>
