---
import Header from '../components/Header.astro'
interface Props {
	title: string
	firstName: string
	lastName: string
}

import Head from '../components/Head.astro'

const { title, firstName, lastName } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
	<Head title={title} />
	<body class='bg-background font-roboto'>
		<Header firstName={firstName} lastName={lastName} />
		<slot />
	</body>
</html>
<style>
</style>
